* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

nav {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.nav-left img {
    height: 50px;
}

.nav-filters {
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 10px; 
    width: 80%; 
}

.nav-filters select {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    background-color: #f0f0f0;
    width: 62%;
 }

 nav p {
    font-weight: 600;
 }

footer {
    background-color: #353434;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

}